.homebody {
  margin-top: 9.47em;
  width: 100vw;
}

.uppersection {
  margin: 0em 10.125em;
  display: flex;
  justify-content: space-between;
}

.CoinHeading {
  margin-left: 4em;
}

.upper-left-section,
.upper-right-section {
  //   border: 1px solid black;
}

.upper-right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  /* Shadow */

  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04);
  h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 2.38em;
    line-height: 30px;
    text-align: center;

    color: #000000;
  }
  p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 2.1em;
    /* identical to box height */

    text-align: center;
    margin-top: 20px;

    color: #000000;
  }
}

.CoinPrice {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  line-height: 61px;
  /* identical to box height */
  padding-left: 5px;

  color: #000000;
  margin-top: 0.3em;
}

.CoinTitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 2.19em;
  line-height: 61px;
  /* identical to box height */

  color: #000000;
}

.prediction-chart {
  background-color: white;
  width: 100%;
  height: 14.5em;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04);
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.week,
.month {
  h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1.56em;
    line-height: 30px;
    text-align: center;

    color: #000000;
    width: 8em;
  }
  p {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 30px;
    text-align: center;
    margin-top: 2em;
    color: #000000;
  }
}

.green {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4em;
  line-height: 30px;
  text-align: center;

  color: #4cbb17;
}
.yellow {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4em;
  line-height: 30px;
  text-align: center;

  color: #ffb21e;
}
.red {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4em;
  line-height: 30px;
  text-align: center;

  color: #ff5100;
}

.Graph {
  background: #ffffff;
  /* Shadow */

  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04);
  width: 95vw;
  // border: 1px solid black;
  height: 40.625em;
  margin: 6em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 2em;
  }
}

.Twitter {
  margin-top: 12.8em;
  h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 3.125em;
    line-height: 61px;
    /* identical to box height */

    color: #000000;
    text-align: center;
  }
  .twitter-pane {
    width: 100%;
    height: 50em;
    background-color: #ffffff;
    border-top: 0.25px solid #b3b3b3;
    border-bottom: 0.25px solid #b3b3b3;
    margin-top: 2.75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .tweets {
      width: 70%;
      // border: 0.25px solid black;
      height: 75%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .col {
        border: 0.25px solid rgba(112, 112, 112,0.5);
        border-radius: 20px;
        height: 95%;
        width: 49%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .row {
        height: 49%;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
    .readmore {
      text-align: center;
      margin-top: 2em;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 1.475rem;
      line-height: 24px;

      color: #000000;
    }
  }
}
