.twitter-pane{
  display: flex;
  align-items: center;
}
.tweet {
  font-family: Montserrat;
  padding: 0px 30px;
  .top-section {
    display: flex;
    align-items: center;
    .username {
      display: flex;
      height: fit-content;
      margin-left: 10px;
      align-items: center;
      h5 {
        font-style: normal;
        font-weight: 600;
        font-size: 1.25vw;
        color: #000000;
        word-wrap: none;
      }
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 0.7rem;
        height: fit-content;
        margin: auto;
        color: #797979;
      }
      img{
          width: 1.5rem;
      }
    }
  }
  .profilepicture {
    width: 2.275rem;
    height: 2.275rem;
    background-color: grey;
    border-radius: 50px;
  }

  .tweet-text{
    font-style: normal;
    font-weight: 600;
    font-size: 1.875em;
    // line-height: 37px;
    
    color: #000000;
    margin-top: 20px;

    span{
        color: #15B9FF;
    }
  }
}
